consumer_key = 'YOUR CONSUMER KEY'
consumer_secret = 'YOUR CONSUMER SECRET'
secret_key = 'APP SECRET KEY'
debug = False
google_analytics_tag = """<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'XXXXXXXXXX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>"""
google_custom_search_code = 'XXXXXXXXXXXXXXXXXXXX:XXXXXXXXXXXXX'
google_site_verification = 'XXXXXXXXXXXXX-XXXXXXXXX-XXXXXXXXXXXXXXXX'
