body {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: transparent url(background.png) top left no-repeat;
}

img {
    border: none;
}

a {
    color: #00719E;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  color: #666;
  margin: 20px;
  padding: 1px 10px;
  border-left: solid 10px #DDD;
}

p {
    margin: 0;
    padding: 0;
}

p.message {
    color: #335E79;
    padding: 10px;
    background: #CADEEB;
}

p.error {
    color: #783232;
    padding: 10px;
    background: #EBCACA;
}

pre {
    font-size: 90%;
    margin: 24px 0;
    padding: 4px;
    border: 1px solid #DDD;
    background-color: #F8F8FF;
    overflow: auto;
}

input[type="text"], textarea {
    margin: 4px 0;
    border: 1px solid #999;
    padding: 2px;
    font-size: 100%;
}

input[type="text"] {
    font-size: 110%;
}

input[type="submit"] {
    margin: 0;
    font-size: 110%;
    background: #DDD;
    border: solid 1px #DDD;
    border-bottom: solid 1px #CCC;
    color: #666;
    padding: 6px 18px;
    text-shadow: 1px 1px 0px white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

input[type="submit"]:hover {
    border: solid 1px #AAA;
}

h2 {
    font-size: 130%;
    margin: 8px 0;
    padding: 0;
    color: #888;
}

#wrap {
    width: 800px;
    padding: 0;
    margin: 0 auto;
}

#content {
    margin: 10px 0;
    padding: 16px;
    border: solid 4px #DDD;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background: #FFF url(content.png) top right no-repeat;
    -webkit-box-shadow: 0 0 16px #DDD;
    -moz-box-shadow: 0 0 16px #DDD;
    text-shadow: 1px 1px 0px white;
}

/* ---- #header ----*/

#header {
}

#header h1 {
    position: relative;
    z-index: 1;
    margin: 16px 0;
    display: inline-block;
    background: transparent url(header-h1.png) top left no-repeat;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    opacity: 0.7;
}

#header h1 a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

#header #navigation {
    float: right;
    font-size: 80%;
    margin-top: -8px;
    color: #AAA;
    padding: 14px 8px 10px 8px;
    border: solid 3px #DDD;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    opacity: 0.9;
}

#header #navigation a {
}

img.user-image {
    padding: 0;
    margin: 0 2px;
    -webkit-box-shadow: 0px 1px 2px #333;
    -moz-box-shadow: 0px 1px 2px #333;
    vertical-align: middle;
}

#header #navigation img {
  margin-left: 4px;
}

/* ---- #footer ----*/

#footer {
    margin: 30px 0 20px 0;
    text-align: right;
}

#footer #navigation {
    font-size: 90%;
    display: inline-block;
    color: #666;
    padding: 8px 16px 8px 16px;
    background-color: #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: solid 3px #DDD;
    opacity: 0.9;
}

/* ---- .entry ----*/

.entry {
    margin: 0;
}

.entry .info {
    font-size: 90%;
    color: #666;
    text-align: right;
}

.entry h2 img {
    vertical-align: bottom;
    margin: 0 2px;
}

.entry-body p {
    margin: 10px 0;
}

.entry-body img {
  display: block;
  margin: 20px auto;
  border: solid 1px #CCC;
  max-width: 600px;
  -webkit-box-shadow: 2px 2px 12px #AAA;
}

/* ---- #entry-form ----*/

#entry-form {
    padding: 0;
    margin: 0;
}

#entry-form textarea {
    width: 760px;
    height: 400px;
}

.submit-button {
    text-align: right;
}

#form-help {
  font-size: 90%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 420px;
  font-size: 76%;
  color: white;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: black;
  cursor: move;
  opacity: 0.8;
  -moz-opacity: 0.8;
}

#form-help a {
  color: orange;
}

#form-help h3 {
  color: #999;
  font-size: 110%;
  margin: 8px 0 4px 0;
}

#form-help pre {
  margin: 0;
  padding: 4px;
  border: none;
  background-color: #111;
  cursor: text;
}

#entry-form .help {
  margin-top: -1em;
  margin-right: 4px;
  text-align: right;
}

#entry-form .help a {
  font-size: 76%;
  color: orange;
}

/* ---- ul#entries ----*/

ul#entries {
    margin: 40px 0 0 0;
    padding: 0;
}

ul#entries h3 {
    margin: 4px 0;
    padding: 0;
    font-size: 110%;
}

ul#entries > li {
    list-style: none;
    margin: 0;
    min-height: 4em;
    border-top: solid 1px #CCC;
    padding: 40px 0;
}

/* ---- #user-info ----*/

#user-info h2 img {
  vertical-align: bottom;
}

/* ---- #use-name ----*/

h2#use-name {
  margin: 12px;
  font-size: 36px;
}

h2#use-name a {
  color: #666;
  text-decoration: none;
}
