{% extends "layout.html" %}
{% block body %}
  <div id=content>
    <div id=entry>
      <h2>
        <a href="{{ url_for('entry', hashcode=entry.hashcode) }}">{{ entry.title }}</a>
        {% if g.user and g.user.key() == entry.user.key() %}
          <a href="http://twitter.com/home/?status={{
              '"%s" %s' % (entry.title, url_for('entry', hashcode=entry.hashcode, _external=True)) }}"
            title="Tweet this post"
            target="_blank">
            <img src="{{ url_for('static', filename='t_small-b.png') }}" />
          </a>
        {% endif %}
      </h2>
      <div class=info>
        by <a href="{{ url_for('user', username=entry.user.name) }}">@{{ entry.user.name }}</a>
        {% if g.user and g.user.key() == entry.user.key() %}
        |
        <a href="{{ url_for('edit', hashcode=entry.hashcode) }}">Edit</a>
        {% endif %}
      </div>
      <div id="entry-body">
        {% autoescape false %}
          {{ entry.formated_body() }}
        {% endautoescape %}
      </div>
    </div>
    <form action="{{ url_for('entry', hashcode=entry.hashcode) }}" method="post">
      <input type="hidden" name="_delete" value="true">
      <div class="delete-button">
        <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
      </div>
    </form>
  </div>
{% endblock %}
