<div id="form-help" style="display: none">
  <h3>Section Headings</h3>
  <pre># Header 1
## Header 2
### Header 3
#### Header 4</pre>

  <h3>Bold and Italics</h3>
  <pre>**bold** and *italics*:</pre>

  <h3>Links</h3>
  <pre>[Twiwt:Blog](http://blog.twiwt.org "title...")</pre>

  <h3>Images</h3>
  <pre>![picture alt](/images/photo.jpeg "title...")</pre>

  <h3>Bulleted Lists</h3>
  <pre>* Bullet 1
* Bullet 2
  * Bullet 2a
  * Bullet 2b
* Bullet 3</pre>

  <h3>Numbered Lists</h3>
  <pre>1. Baked potato
2. Baked beans
3. Pepper</pre>

  <h3>Quotes</h3>
  <pre>&gt; foo
&gt; bar</pre>

  <h3>Codes</h3>
  <pre>    $ irb
    irb(main):001:0> puts "Hello, World"
    Hello, World
    => nil
    irb(main):002:0> 1+2
    => 3</pre>
</div>
