<!doctype html>
<html>
<head>
  <title>Twiwt</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id=wrap>

<div id=header>
  <div id=navigation>
    {% if g.user %}
    <a href="{{ url_for('user', username=g.user.name) }}">@{{ g.user.name }}</a>
    |
    <a href="{{ url_for('logout') }}">Sign out</a>
    {% else %}
    <a href="{{ url_for('login') }}">Sign in</a>
    {% endif %}
  </div>

  <h1><a href="{{ url_for('index') }}">Twiwt</a></h1>
</div>

{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}

{% block body %}{% endblock %}

</div>

</body>
</html>
