{% macro entry_form(button_label, entry=None) -%}
    <div id="entry-form">
      <form action="{{ url_for('post') }}" method=post>
        <p><input type=text name=title size=60 value="{{ entry.title | d('') }}"></p>
        <div class="help">
          <a href="#" id="show-help" title="Help">?</a>
        </div>
        <p><textarea name=body rows=30 cols=100>{{ entry.body | d('') }}</textarea></p>
        <div class="submit-button"><input type=submit value={{ button_label }}></div>
      </form>
    </div>

    {% include 'form_help.html' %}

    <script type="text/javascript">
      $(function() {
        $('#show-help').qtip({
          content: {
             text: $('#form-help'),
             title: {
                text: 'Help',
                button: 'Close'
             }
          },
          style: {
            name: 'dark',
            width: 400,
            height: 640
          },
          position: {
            corner: {
              target: 'bottomLeft',
              tooltip: 'rightTop'
            },
            adjust: { x: 100, y: -140 }
          },
          show: { when: { event: 'click' } },
          hide: false
        });
      });
    </script>
{%- endmacro %}

{% macro entry_list(entries) -%}
    <ul id="entries">
      {% for e in entries %}
        <li>
          <h3><a href="{{ url_for('entry', hashcode=e.hashcode) }}">{{ e.title | d(e.hashcode, e.title == '') }}</a></h3>
          <p>
            {{ e.formated_body()[:160] | striptags}}
          </p>
        </li>
      {% endfor %}
    </ul>
{%- endmacro %}

{% macro user_link(user) -%}
    <a href="{{ url_for('user', username=user.name) }}">{{ user.name }}</a>
{%- endmacro %}

{% macro user_image_link(user, size='n') -%}
    <a href="{{ url_for('user', username=user.name) }}">
      <img src="http://img.tweetimag.es/i/{{ user.name }}_{{ size }}" alt="{{ user.screen_name }}" class="user-image" />
    </a>
{%- endmacro %}
