{% macro entry_form(url, button_label, entry=None) -%}
    <div id="entry-form">
      <form action="{{ url }}" method=post>
        <p><input type=text name=title size=60 value="{{ entry.title | d('') }}" tabindex=1 /></p>
        <div class="help">
          <a href="#" id="show-help" title="Help">Markdown Cheat Sheet</a>
        </div>
        <p><textarea name=body rows=30 cols=100 tabindex=2>{{ entry.body | d('') }}</textarea></p>
        <div class="submit-button"><input type=submit value={{ button_label }} tabindex=3></div>
      </form>
    </div>

    {% include 'form_help.html' %}

    <script type="text/javascript">
      $('#show-help').click(function () {
        $('#form-help').show();
      });
      $('#close-help').click(function () {
        $('#form-help').hide();
      });
      $('#form-help').draggable({ cancel: 'pre' });
    </script>
{%- endmacro %}

{% macro entry_list(entries, user) -%}
    <ul id="entries">
      {% for entry in entries %}
        <li>{{ entry_detail(entry, user)}}</li>
      {% endfor %}
    </ul>
{%- endmacro %}

{% macro entry_detail(entry, user, show_author) %}
    <div class=entry>
      <h2>
        <a href="{{ url_for('entry', hashcode=entry.hashcode) }}">{{ entry.title }}</a>
        <a href="http://twitter.com/home/?status={{
            '%s %s' % (entry.title, url_for('entry', hashcode=entry.hashcode, _external=True)) }}"
          title="Tweet this post"
          target="_blank"
          class="twitter-link">
          <img src="{{ url_for('static', filename='t_small-b.png') }}" />
        </a>
      </h2>
      {% if show_author %}
        <div class=info>
          {{ user_image_link(entry.user, 'm') }} {{ user_link(entry.user) }}
        </div>
      {% endif %}
      <div class=info>
        <a href="{{ url_for('entry', hashcode=entry.hashcode) }}">{{ entry.date }}</a>
        {% if user and user.key() == entry.user.key() %}
        |
        <a href="{{ url_for('edit', hashcode=entry.hashcode) }}">Edit</a>
        |
        <a href="#" onclick="if (confirm('Are you sure?')) { $('#delete-entry-form-{{ entry.hashcode }}').submit(); }">Delete</a>
        {% endif %}
      </div>
      <div class="entry-body">
        {{ entry.formated_body() | safe}}
      </div>
      {% if user and user.key() == entry.user.key() %}
        <form action="{{ url_for('entry', hashcode=entry.hashcode) }}"
              method="post"
              id="delete-entry-form-{{ entry.hashcode }}"
              style="display: none">
          <input type="hidden" name="_delete" value="true">
        </form>
      {% endif %}
    </div>
{%- endmacro %}

{% macro user_link(user) -%}
    <a href="{{ url_for('user', username=user.name) }}">{{ user.name }}</a>
{%- endmacro %}

{% macro user_image_link(user, size='n') -%}
    <a href="{{ url_for('user', username=user.name) }}">
      <img src="http://img.tweetimag.es/i/{{ user.name }}_{{ size }}" alt="{{ user.screen_name }}" class="user-image" />
    </a>
{%- endmacro %}
