{% extends "layout.html" %}
{% block body %}
  <div id=search-result>
    <div id="cse-search-results"></div>
    <script type="text/javascript">
      var googleSearchIframeName = "cse-search-results";
      var googleSearchFormName = "cse-search-box";
      var googleSearchFrameWidth = 720;
      var googleSearchDomain = "www.google.com";
      var googleSearchPath = "/cse";
    </script>
    <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
  </div>
  <script type="text/javascript">
    $(function() {
      $('input[name=q]').focus();
    });
  </script>
{% endblock %}
